.progressbar-container {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: fixed;
    display: grid;
    top: 0;
    left: 0;
    z-index: 999;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100vw;
    height: 3px;
    border: none;
    background: transparent;
    vertical-align: 0;
}

progress::-webkit-progress-bar {
    background: transparent;
}

progress::-webkit-progress-value {
    background: rgb(206, 19, 113);
    background-attachment: fixed;
}

progress::-moz-progress-bar{
    background: rgb(206, 19, 113);
    background-attachment: fixed;
}
